@namespace Wallow.Auth.Component.Tests.Stubs

<p class="bb-alert-description" @attributes="AdditionalAttributes">@ChildContent</p>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
